<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edu.admin.education.dao.ArtStudentDao">
    <resultMap id="BaseResultMap" type="com.edu.admin.education.model.ArtStudent">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="classification_id" property="classificationId" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="name_py" property="namePy" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="VARCHAR"/>
        <result column="country" property="country" jdbcType="VARCHAR"/>
        <result column="nation" property="nation" jdbcType="VARCHAR"/>
        <result column="born" property="born" jdbcType="TIMESTAMP"/>
        <result column="level" property="level" jdbcType="INTEGER"/>
        <!--<result column="wenping_level" property="wenpingLevel" jdbcType="VARCHAR"/>-->
        <result column="card_no" property="cardNo" jdbcType="VARCHAR"/>
        <result column="state" property="state" jdbcType="VARCHAR"/>
        <result column="createtime" property="createtime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="selectByCustomSqlMap" extends="BaseResultMap" type="com.edu.admin.education.model.ArtStudent">
        <result column="classificationName" property="classificationName" jdbcType="VARCHAR"/>
        <result column="activityName" property="activityName" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="joinColumns">
        classificationObj.NAME  classificationName,
        activityObj.name activityName
    </sql>

    <sql id="joins">
        LEFT JOIN live_course_classification classificationObj On artStudentObj.classification_id = classificationObj.id
        LEFT JOIN art_activity activityObj ON activityObj.id = artStudentObj.activity_id
    </sql>

    <sql id="joinWhere">
        <where>
            artStudentObj.state != '2'
            <if test="name != null and name != ''">
                AND artStudentObj.name = #{name, jdbcType=VARCHAR}
            </if>
            <if test="id != null and id != ''">
                AND artStudentObj.id = #{id, jdbcType=VARCHAR}
            </if>
            <if test="level != null and level != ''">
                AND artStudentObj.level = #{level, jdbcType=VARCHAR}
            </if>
            <if test="cardNo != null and cardNo != ''">
                and artStudentObj.card_no = #{cardNo}
            </if>
            <if test="sex != null and sex != ''">
                AND artStudentObj.sex = #{sex, jdbcType=VARCHAR}
            </if>
            <if test="classificationId != null and classificationId != ''">
                AND artStudentObj.classification_id = #{classificationId, jdbcType=INTEGER}
            </if>
            <if test="activityId != null and activityId != ''">
                AND artStudentObj.activity_id = #{activityId, jdbcType=INTEGER}
            </if>
            <if test="bookNo != null and bookNo != ''">
                AND artStudentObj.book_no = #{bookNo, jdbcType=VARCHAR}
            </if>
            <if test="bookType != null and bookType != ''">
                AND artStudentObj.book_type = #{bookType}
            </if>
        </where>
    </sql>

    <select id="selectByCustomSql" resultMap="selectByCustomSqlMap" parameterType="Map">
        SELECT
        artStudentObj.*,
        <include refid="joinColumns"/>
        FROM
        art_student artStudentObj
        <include refid="joins"/>
        <include refid="joinWhere"/>
        ${orderBy}
    </select>

    <select id="countByCustomSql" resultType="java.lang.Integer">
        SELECT count(*) FROM
        (
            SELECT
            artStudentObj.*,
            <include refid="joinColumns"/>
            FROM
            art_student artStudentObj
            <include refid="joins"/>
            <include refid="joinWhere"/>
        ) t
    </select>

</mapper>